.Navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #4f3466;
    padding: 0.2em 3%;
}

.Navbar h1{
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2em;
    cursor: pointer;
}

.Navbar button, li, a{
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    text-decoration: none;
}

.nav_links a, .Login{
    font-size: 1.15em;
    font-weight: 400;
}

.Navbar button{
    font-size: 1em;
    font-weight: 500;
}

.Navbar .nav_links{
    margin-left: 1em;
}
.Navbar .nav_links li, .Login{
    list-style: none;
    display: inline-block;
    padding: 0px 1em;
}
.Navbar .nav_links li a, .Login{
    transition: all 0.25s ease 0.0s;
}
.Navbar .nav_links li a:hover, .Account a:hover {
    color: darkgray;
}

.Account{
    margin-left: auto;
}


.register-button button {
    display: inline-block;
    padding: 0.25em 0.35em;
    color: snow;
    background-color: rgb(136, 96, 131);
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    transition: all 0.25s ease 0.0s;
}
.register-button button:hover{
    background-color: rgba(136, 96, 131, 0.7);
}


