.Navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0 0.3rem rgba(0,0,0,.45);
    padding: 0.2em 3%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Navbar .LOGO img{
    height: 50px;
    width: auto;
}

.Navbar h1{
    color: black;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.85);
    font-weight: 700;
    font-size: 2em;
    cursor: pointer;
}

.Navbar button, li, a{
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 17px;
    text-decoration: none;
}

.nav_links a, .Login{
    font-size: 1.15em;
    font-weight: 400;
}

.Navbar button{
    font-size: 1em;
    font-weight: 500;
}

.Navbar .nav_links{
    margin-left: 1em;
}
.Navbar .nav_links li, .Login{
    list-style: none;
    display: inline-block;
    padding: 0px 1em;
}
.Navbar .nav_links li a, .Login{
    transition: all 0.25s ease 0.0s;
}
.Navbar .nav_links li a:hover, .Account a:hover {
    color: darkgray;
}

.Account{
    margin-left: auto;
}


.register-button button {
    display: inline-block;
    padding: 0.55em 0.65em;
    color: snow;
    background-color: #00B03F;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    transition: all 0.25s ease 0.0s;
}
.register-button button:hover{
    background-color: #006925;
}
