.Home {
    position: relative;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 1300px;
    height: 720px;
}

.content .animation {
    margin-top: 20px;
    height: 700px;

}

.content .clean-block {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: auto;
}

.content .clean-block .text {
    margin: auto;
}

.content .clean-block .text h1{
    font-size: 50px;
    letter-spacing: 0;
}

.content .clean-block .text p{
    font-size: 24px;
    font-weight: 400;
    margin: 60px 10px 10px 10px;
    letter-spacing: 0;
}

.button {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #3257d1d7;
    color: #ffffff;
    border: 0px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s;
    line-height: 55px;
}

.button:hover {
    background-color: #1d3cbd;
}