.Home {
    position: relative;
    text-align: center;
}
.background-image {
    min-height:680px;
    width: 100%;
    background-size: cover;
    display: inline-block;
    background-image: url("image4.jpg");
    filter: blur(0.5px);
}

.clean-block.clean-hero .text {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-weight: 500;
	color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.85);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    background-color: transparent;
    font-family: Roboto, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.85); 
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    border: 1px solid;
}