.regform {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 4px dotted blue; */

}
.register-form {
    width: 400px;
    margin: 120px;
    padding: 40px 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}


.register-form h1 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 36px;
}

.inputData label{
    display: flex;
    font-weight: 700;
    margin: 3px;
}

.register-form input{
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
    font: 14px
}

.register-form .inputData .submit-button{
    width: 100%;
    line-height: 35px;
    background-color: #4f3466;
    color: #ffffff;
    border: 1px solid #717175;
    border-radius: 0.25em;
    transition: 0.2s;
    filter: brightness(120%);
}
.register-form .inputData .submit-button:hover {
    filter: brightness(100%);
}

